# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Unit Tests

on:
  pull_request:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  SCHEME: "DBXCResultParser-Package"
  DESTINATION: "platform=OS X"

jobs:
  tests:

    runs-on: 'macos-latest'
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v3

    - name: Read Xcode version
      id: xcode-version
      run: echo "version=$(<.xcode-version)" >> $GITHUB_OUTPUT

    - name: Select Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ steps.xcode-version.outputs.version }}

    - name: Resolve Dependencies
      run: swift package resolve

    - name: Build
      run: swift build

    - name: Test
      run: swift test
